compile_commands.json
compile_flags.txt
.vscode
.clangd
.clang-format
.clang-tidy
.clang-tools-extra
filters.c
main.c
netpbm_hough.c
*.exe
*.o
*.out
Robustness_Analysis/robustness_analysis
Texture_Segmentation/

**/output_images
**/report.txt
