built.bat
compile_commands.json
compile_flags.txt
.vscode
.clangd
.clang-format
.clang-tidy
.clang-tools-extra
filters.c
filters.exe
hough.exe
main.c
main.exe
netpbm_hough.c
texture_segment.c
texture_segment.exe
built.bat
**/report.txt